.service-wrapper{
    width:100%;
    margin:auto;
    max-width:850px;
    margin-top:1rem;
}
.service-container {
    border: 1px solid #ccc;
    border-radius: 4px;
    /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3); */
}
.service-wrapper.header{
    display:flex;
    background: #f8f8f8;
    padding:.8rem;
}

.service-wrapper .header p{
    margin: auto;
    text-align: center;
    margin-top: 1.5%;
}

.content{
    padding:1rem;
}

.content p{
    text-align: center;
    margin-top: 2%;
}

.date-controls{
    display: flex;
}
.date-controls input{
    width: calc(50% - 2px);
}
.date-controls input:nth-child(2){
    margin-left:4px;
}

.size-boxes,.service-boxes{
    display: flex;
    /* justify-content: space-between; */
}

.size-boxes .box{
    width:calc(25%);
}

.service-boxes .box{
    width:20%;
}

.size-boxes .box,.service-boxes .box{
    margin-right:7px;
    border:1px solid #ccc;
    height:70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#ccc;
    border-radius: 4px;
}

.size-boxes .box p{
    margin:0px;
}

.getbtn
{
    margin: auto;
    font-weight: 900;
    font-size: 50px;
}
.container-fluid
{
    background-color: white;
}



.number
{
    width: 100%;
}
.progressbar
{   counter-reset: step;
}
.progressbar li{
    list-style-type: none;
    float: left;
    width: 33%;
    position: relative;
    text-align: center;
}
.progressbar li::before{
    content: counter(step);
    counter-increment: step;
    width: 32px;
    height: 32px;
    line-height: 30px;
    border: 2px solid;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}

.progressbar li::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ddd;
    top: 15px;
    left: -50%;
    z-index: -1;
}
.progressbar li:first-child::after{
    content: none;
}


.headerh2
{
    font-weight: 300 !important;
    font-size: 25px !important;
    margin-bottom: 35px !important;
}
.headerh1
{
    font-weight: 500 !important;
}
.ptagcon
{
    text-align: center !important;
}

.allhome
{
    padding-top:  25px !important;
    font-weight: 300;
    font-size: 16px !important;
}
.workh3
{
    margin-top: 4%;
    text-align: center;
    margin-bottom: 4%;
    font-weight: 300;
    font-size: 30px;
    /* margin: auto; */
}

.abouth2{
    font-weight: 300;
    text-align: left;

}


.servicesp
{
    margin-bottom: 5%;

}