*{
    font-family: 'Roboto', sans-serif;
    /* text-transform: capitalize; */
}
.card{
    font-family:'Roboto', sans-serif;
    border: 1px solid;
    color: gray;
    display: block;
    padding-left: 10px;
    font-weight: 300;
    font-size: 19px;
    align-content: center;
    margin-right: 10px;width: 100%;

}
.card-header{
    border-bottom: 1px solid;
    font-weight: 500;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-right: 10px;
}

.button
{
    text-align: center;

    
}
.btn-success
{   margin-top: 2.6% !important;
    margin-bottom: 20px;
    width: 50%;
    font-weight: 300;
    font-size:20px;
    padding: 10px 10px 10px 10px;
}
.fa-heart{
    color: red;
    height: 30px;
    width: 30px;
}
.fa-check
{
    color: green;
    text-align: center !important;
    height: 30px;
    width: 20px !important;
    margin-left:5px;
    padding-right: 4px;
    padding-top: 15px !important;
}

.section-header
{
    text-align: center;
    font-weight: 500;
    font-size: 25px;
}

.passive .horizontal-progress__step{
    color: #999;
}

.horizontal-progress__step{
    -webkit-box-direction: normal;
    text-align: center;
}

.how-it-works-rebranded .descriptions .row .description .search-icon
{
    background-image: url(../img/search.png)
}
.how-it-works-rebranded .descriptions .row .description .icon{
    width: 80px;
    text-transform: capitalise;
    height: 80px;
    margin-top:30px;
    margin-bottom: 15px;
    margin-left: 27%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    text-align: center;
}

.how-it-works-rebranded .descriptions .row .description .pay-icon
{
    background-image: url(../img/income.png)
}

.how-it-works-rebranded .descriptions .row .description .relax-icon
{
    background-image: url(../img/lying.png)
}
 div.description-text > label{
	margin-left: 25% !important;
}

.row .top h1{
    font-weight: 900;
    line-height: 1.4;
    color:white !important;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}

.row .top2 h2{
    font-weight: 900;
    line-height: 1.4;
    color: white;
    font-size: 32px;
    width: 60%;
    margin: auto;
    text-align: center !important;
    font-family: 'Montserrat', sans-serif;
}

.footer_copyright{
    overflow: hidden;
    background: #11198b;
    padding: 20px 0px;
    font-family: 'Montserrat', sans-serif;
}

.footer_copyright .float-sm-left h5 a{
    font-size: 14px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 30px;
    margin: auto;
}

.float-sm-right > ul{
    display: flex;
    flex-direction:row;
    float: right;
}

.float-sm-left .float-sm-right{
    width: 50%;
    display: flex;
    flex-direction: row;
}

.float-sm-right i{
    padding-right: 15px;
    color: #fff
}

.box_shadow{
    padding: 10px;
    box-shadow: 1px 1px 20px lightslategrey;
    border-radius: 3px;
}
.up{
    margin-bottom: 4%;
}

.btn-block{
    width: 80% !important;
    margin: auto;
}

form{
    width: 80%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}